<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <buckets.fillItem>
        <processor patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.FillItem.ShowFieldValuesInResults, Sitecore.Buckets']" type="Sitecore.Support.Buckets.Pipelines.UI.FillItem.ShowFieldValuesInResults, Sitecore.Support.185484"/>
      </buckets.fillItem>
    </pipelines>
  </sitecore>
</configuration>